.stack {
  > * + * {
    margin-top: var(--stack-space, 1.5em);
  }
  h2,
  h3 {
    --stact-space: 2em;
  }
  h2 + *,
  h3 + * {
    --stack-space: 0.8em;
  }
  p {
    line-height: 1.8;
  }
  ul {
    padding: revert;
    list-style: revert;
  }
}
